.tetrisPage {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 70% calc(30% - 10px);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    'gridBoard gridMenu'
    'gridBoard gridNext'
    'gridBoard gridScore';
}

.board {
  grid-area: gridBoard;
}
.boardRow {
  display: flex;
  justify-content: center;
}
.boardShape {
  border-top: 1px solid var(--border-color-light);
  border-left: 1px solid var(--border-color-light);
  border-bottom: 1px solid var(--border-color-light);
  border-right: 1px solid var(--border-color-light);

  width: calc(min(100%, 500px) / 12);
  height: calc(min(100%, 500px) / 24);

  aspect-ratio: 1 / 1;
}

.menu {
  grid-area: gridMenu;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  border: 1px solid var(--border-color-light);

  gap: 10px;
  margin-left: 0;
}

.nextShape {
  grid-area: gridNext;

  border: 1px solid var(--border-color-light);
}

.score {
  grid-area: gridScore;

  border: 1px solid var(--border-color-light);

  display: flex;
  justify-content: center;
  align-items: center;
}
